* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url(../images/bk.jpg);
}

.center {
  margin: auto;
  text-align: center;
}

.fullwidth {
  width: 100%;
}

.fullwidth {
  width: 100%;
}

.halfwidth {
  width: 50%;
}

.quarterwidth {
  width: 25%;
}

.navColorHeader, .col, .navbar, .instructions, img {
  background-color: bisque;
}

.navbar {
  height: 5em;
  width: 10em;
  margin: auto;
}

.row {
  margin: 2em;
}

.col-2, .col-6, .col-10 {
  margin: 1em;
}

img {
  height: 6em;
  width: 5em;
  margin: 0;
  padding: .5em;

}
