* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.center {
  margin: auto;
  text-align: center;
}

.left {
  float: left;
  margin-right: 100%;
}

.right {
  float: right;
  margin-left: 100%;
}

body {
  background-image: url(../images/bk.jpg);
}

.navColorHeader, footer, .col-sm-3, .col-md-3, .col-md-6, .navbar, .instructions, .col-sm-6, img {
  background-color: bisque;
}

.instructions {
  padding: 1em;
  margin-top: 1em;
}

.navbar {
  height: 5em;
  width: 10em;
  margin: auto;
}

img {
  height: 6em;
  width: 5em;
  margin: 0;
  padding: .5em;
}

.sameHeight {
  height: 5em;
  display: inline-block;
  padding: 0.5em;
  margin: 1em;
}

.box1, .box2 {
  width: 3em;
}


.box1 {
  width: 2em;
  margin: 1em;
  margin-right: 0em;
}

.box2 {
  width: 2em;
  margin: 1em;
  margin-left: 0em;
}

fieldset {
  text-align: left;
  display: inline;
  width: 10em;
  padding: 1em;
}

footer {
  margin: auto;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}